<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/404.css">
    <title>Página não encontrada</title>
</head>

<body>
    <main class="main-error404">
        <div class="container-error404">
            <div class="content-error404">
                <div class="logo">
                    <a href="/index.html"><img class="logo-404" src="/static/img/logo-color-01.png" alt=""></a>
                </div>
                <div class="error404">
                    <h1>404</h1>
                    <h2>Not found</h2>
                </div>
            </div>
            <div class="img404">
                <img class="robo404" src="/static/img/404/48.png" alt="404">
            </div>
        </div>
    </main>
</body>

</html>