<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-content-links">
                <div class="column-website p-15">
                    <h1 class="footer-h1">WEBSITE</h1>
                    <ul class="ul-footer">
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </div>
                <div class="column-midia p-15">
                    <h1 class="footer-h1">SOCIAL</h1>
                    <ul class="ul-footer">
                        <li><a href="#">WhatsApp</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="column-contact p-15">
                    <h1 class="footer-h1">CONTATO</h1>
                    <P class="footer-p">(12) 91212-1212</P>
                    <h2>Email:</h2>
                    <p><a href="#">email@email.com</a></p>
                </div>
            </div>
            <div class="footer-content-icons">
                <div class="column-icons-midia">
                    <div class="icons-midia">
                        <a href="#"><img class="icon-midia" src="\static\img\whatsapp-dark.png" alt=""></a>
                        <a href="#"><img class="icon-midia" src="\static\img\facebook-dark.png" alt=""></a>
                        <a href="#"><img class="icon-midia" src="\static\img\twitter-dark.png" alt=""></a>
                        <a href="#"><img class="icon-midia" src="\static\img\instagram-white.png" alt=""></a>
                    </div>
                    <div class="logo">
                        <a href="#"><img class="icon-logo" src="\static\img\logo-color-01.png" alt=""></a>
                    </div>
                    <div class="2022">
                        <p><span>&#174;</span> 2022 - Programador Hyan</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>

</html>